*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    /* max-width: 1360px; */
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 5px 2px;
    padding: 20px 5px;
}

    .box{
        background-color: rgb(184, 190, 190);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }
    .box:hover{
        background-color: rgb(183, 152, 152);
    }
